<!--The content below is only a placeholder and can be replaced.-->
<div class=" text-center text-danger">
  <h1 class="text-bold">
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="https://cdn.shopify.com/s/files/1/1111/4912/products/Archer-Danger-Zone_fb79a01b-cf80-4689-ab29-18d4a7ac7202.jpg?v=1538670648">
  <h3>Contact Me ;)</h3>
  <p><app-contact></app-contact></p>
  <hr>
  <h3>Work Experience</h3>
  <p><app-work-experience></app-work-experience></p>
  <hr>
  <h3>Education</h3>
  <p><app-education></app-education></p>
</div>
